mixin attendanceInfo(attendanceData)
    if attendanceData.user != null
        a(href=`/user/attendance/${attendanceData.user._id}`) #{attendanceData.user.name}(#{attendanceData.user.snum})
        span=attendanceData.time
        div
