include attendance-info

mixin attendanceDate(attendanceData)
    div.attendance__date
        ul
            li
                span.attendance__date__info=attendanceData.date
                if loggedInUser.admin
                    a(href=`/user/attendance/check/${attendanceData._id}/delete`).btn__date__remove Remove
            li
                div.attendance__date__users
                    each attendance in attendanceData.attendance
                        +attendanceInfo(attendance)