include attendance-info

mixin attendanceDate(attendanceData)
    container.attendance__date(data-id=attendanceData._id)
        ul
            li
                span.attendance__date__info.date=attendanceData.date
                if loggedInUser.admin
                    button.btnRemove.btn__date__remove Remove
            li
                div.attendance__date__users
                    each attendance in attendanceData.attendance
                        +attendanceInfo(attendance)