mixin posting(posting)
    ul
        li
            a(href=`/board/${posting._id}`)=posting.title
            span.text__Number__Review (0)
        li
            div
                if(posting.owner !== null)
                    p #{posting.owner.name}
                else
                    p 삭제된 계정
        li
            p.date=posting.createdAt
        li
            span=posting.meta.views