.home{
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    max-width: 800px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    ul{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    li{
        font-size: 2.5rem;
        margin: 50px;
    }
}