.home{
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    max-width: 350px;
    ul{
        border-style: solid;
        border-width: 2px;
        border-color: powderblue;
    }
    li{
        font-size: 2rem;
        margin: 30px;
    }
}