.data__fee{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    ul{
        display: flex;
    }

    li{
        padding: 5px;
        margin: 0 auto;
    }

    li:nth-child(1){
        width: 15%;
    }

    li:nth-child(2){
        width: 15%;
    }

    li:nth-child(3),
    li:nth-child(4){
        width: 15%;
    }

    li:nth-child(5){
        width: 15%;
    }

    li:nth-child(6),
    li:nth-child(7),
    li:nth-child(8){
        width: 15%;
    }

    li:nth-child(9){
        width: 5%;
    }
}