.data__fee{
    width: 80%;
    margin: 0 auto;
    margin-top: 250px;

    border: 1 solid white;
    tr{
        height: 30px;
    }
    th{
        text-align: center;
    }

    td:not(.data__user__fee){
        text-align: center;
    }
    input:not(input[type="submit"]){
        width: 100px;
    }
}

.submit__all{
    display: block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    button{
        padding: 5px;
    }
}

.npc__fee{
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    ul{
        display: flex;

    }
    li{
        margin: 0 auto;
        text-align: center;
    }
    li:nth-child(1){
        width: 20%;
    }

    li:nth-child(2){
        width: 30%;
    }

    li:nth-child(3){
        width: 30%;
    }
    
    li:nth-child(4){
        width: 20%;
        input{
            width: 40px;
        }
    }

    .npc__inputFee{
        width: 60px;
    }
}