extends base
include mixins/attendance-each
include mixins/attendance-each-date

block content
    div.attendance__each
        ul
            each attendanceData in userAttendanceDatas
                li
                    +attendanceDate(attendanceData)
                    ul
                    each attendance in attendanceData.attendance
                        if attendance.user != null
                            if(attendance.user._id == _id)
                                li.each__li
                                    +attendance(attendance)
    script(src="/assets/js/transformDate.js")                                