doctype html
html(lang="ko")
    head
        title #{titleName}
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    body
        header
            h1 #{titleName}
            nav
                ul
                    li
                        a(href="/") 홈 
                    if !loggedIn
                        li
                            a(href="/join") 회원가입
                        li
                            a(href="/login") 로그인
                    else
                        li
                            a(href=`/user/${loggedInUser._id}`) #{loggedInUser.name}님의 프로필
                        li
                            a(href="/user/logout") 로그아웃
                    li
                        a(href="/user/attendance") 출석하기
                    li
                        a(href="/user/attendance/check") 출석현황
                    li
                        a(href="/board") 게시판
                    if loggedInUser.admin
                        li
                            a(href="/user/check-data") 학생관리
        main
            block content
                    