extends base.pug
include mixins/posting

block content
    div.btn__enroll__posting
        if loggedIn
            a(href="/board/enroll") 게시물 작성하기
    if postings[0] != NULL
        nav.text__header__posting
            ul
                li 제목
                li 작성자
                li 작성일자
                li 조회 수
        div.text__postings
            each posting in postings
                +posting(posting)
    else
        span 게시물이 없습니다.
    form(method="POST").btn__enroll__posting
        input(type="text", placeholder="제목", name="keyword")
        input(type="submit", value="검색") 
    script(src="/assets/js/transformDate.js")