extends base.pug
include mixins/attendance-date

block content
    div.check__attendance__all
        each attendanceData in attendanceDatas
            +attendanceDate(attendanceData)
        else
            span 출석 현황이 비어 있습니다.
    div.btn__date__allRemove
        button.btnAllRemove All Remove
block scripts
    script(src="/assets/js/transformDate.js")
    script(src="/assets/js/attendanceDelete.js")