extends base.pug

block content
    if errorMessage
        div=errorMessage
    form(method="POST")
        input(placeholder="기존 패스워드", name="oldPassword", type="password", required)
        input(placeholder="새로운 패스워드", name="newPassword", type="password", required)
        input(placeholder="패스워드 확인", name="passwordConfirmation", type="password", required)
        input(type="submit", value="Password Change")