extends base.pug

block content
    if errorMessage 
        div=errorMessage
    img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(value=loggedInUser.name, placeholder="이름", type="text", name="name", required)
        input(value=loggedInUser.email, placeholder="이메일", type="email", name="email", required)
        input(type="submit", value="Update Profile")