extends base.pug

block content
    input(placeholder="Id", type="text", required)
    input(placeholder="Password", type="password", required)
    input(placeholder="ConfirmPassword", type="password", required)
    input(placeholder="Name", type="text", required)
    input(placeholder="Email", type="email", required)
    input(type="submit", value="Join")