extends base.pug

block content
    if errorMessage
        div=errorMessage
    form(method="POST").enroll__posting
        input(type="text", placeholder="제목", maxlength="20", minLength="3", name="title", value=posting.title, required)
        textarea(placeholder="내용", minLength="10", name="content", wrap="physical") #{posting.content}
        input(type="submit", value="작성완료")