extends base.pug

block content
    ul
        img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
        li 이름 : #{loggedInUser.name}
        li 이메일 : #{loggedInUser.email}
        if loggedInUser.attendance
            li 출석현황 : 완료
        else
            li 출석현황 : 미완료
    a(href="/user/edit-profile") 정보 수정하기 &rarr;
    br
    if !loggedInUser.socialOnly
        a(href="/user/edit-password") 패스워드 수정하기 &rarr;